
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 300px;
    font-family: $primary-font;
    font-size: 16px;
}

h1, 
h2 {
    font-weight: bold;
    font-family: $secondary-font;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: bold;
    font-size: 28px;
}

ul {
    padding-left: 15px;
}

a {
    color: #376899;
    transition: 0.35s;

    &:hover {
        text-decoration: none;
        transition: 0.35s;
    }

    &:visited {
        text-decoration: none;
    }
}

.no-gutter{
    padding-left: 0px;
    padding-right: 0px;
}









