
.btn:hover {
    transition: 0.35s;
}

.btn {
    transition: 0.35s;
}

.btn-primary {
    color: #ffffff;
    background-color: $fluke-yellow;
    border: 1px solid $fluke-yellow;
    border-radius: 0px;
    font-size: 28px;
    font-weight: bold;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-top: 40px;
}

.btn-primary.disabled {
    opacity: 100;
}

.btn-primary.disabled:hover {
    background-color: $white;
    border: 1px solid $fluke-yellow;
    color: $black;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: pointer;
}
