.container {
    max-width: 1260px;
}

.panel-grey {
    background-color: #F0EDED;
    color: $black-light;
}

.panel-light-grey {
    background-color: #F5F5F5;
    color: #707070;
    padding-top: 20px;
    padding-bottom: 20px;
    h1 {
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 0px;
    }
}

.panel-dark-grey {
    background-color: #E0E0E0;
    color: #707070;
    padding: 15px 20px;
    margin-bottom: 35px; 
    min-height: 300px;
    h2 {
        color: #336699;
        margin-top: 0px;
        font-size: 25px;
    }
    ul > li {
        margin-bottom: 5px;
    }
}

#cta-block {

    padding-top: 34px; 
    padding-bottom: 44px;
    h3 {
        color: #003B78;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}