
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=checkbox]+label {
    display: inline;
    padding-left: 5px;
    font-weight: normal;
}